<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TravPeg.Properties.Settings.travdataConnStr" connectionString="Data Source=Eddie-PC\SQLEXPRESS;Initial Catalog=travdata;Persist Security Info=True;User ID=sa;Password=&quot;c0k3 m55q1&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>